# Java
**/target/
**/build/
**/*.class
.mvn/wrapper/maven-wrapper.jar

# Node
**/node_modules/
**/dist/

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log
logs/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db
